.container_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(107px, 2fr));
  grid-gap: 70px;
  margin: 75px 45px;
  height: auto;
  width: 90vw;
  align-items: center;
  justify-content: center;
}

.card {
  width: 150px;
  height: auto;
  /* padding: .7rem; */
}

.botones {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
}

.btn {
  background-color: var(--color-boton);
  color: var(--color-texto-boton);
}

.btn:hover {
  background-color: var(--color-boton-hover);
  color: var(--color-texto-boton-hover);
}

