.container_posters {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 99vw;
  overflow: hidden;
  overflow-x: visible;
  cursor: pointer;
}

.poster {
  width: 100px;
  height: 180px;
  margin: 0 2px;
}

.poster:hover {
  box-shadow: 3px 2px 2px var(--color-boton);
}

.puntuacion {
  position: absolute;
  top: -80px;
  right: 5px;
  background-color: #7c7c7cde;
  padding: 5px;
  border-radius: 100%;
  font-weight: 400;
}

.ver_mas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.cursor {
  cursor: pointer;
  margin: 0 10px;
  font-size: 15px;
  border: 2px solid var(--color-boton) ;
  border-radius: 7px;
  padding: 2px;
}

.cursor:hover {
  background-color: var(--color-boton);
  color: white;
  cursor: pointer;
}