.container_register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-image: url('../assets/mejores-series-verano-2023-netflix-hbo-disney-6492b06159452.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.register_section {
  background-color: #c9ddfe98;
  width: 500px;
  height: auto;
  border: 1px solid var(--color-border);
  padding: 49px;
  margin-top: 25px;
}

.title_register {
  text-align: center;
  margin-bottom: 18px;
}

.group_register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.sesion {
  display: flex;
  margin-top: 30px;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.input_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-boton);
  color: var(--color-texto-boton);
  border-radius: 5px;
  border: none;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: red;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-fondo);
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #02be02;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-fondo);
}